body {
  background-color: #f6f4e8;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bacec1;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Courier New', Courier, monospace;
}

.item-1 {
  padding: 5px;
}

.item-1 h1 {
  margin-left: 25px;
}
nav ul {
  display: flex;
  margin-left: auto;
  font-weight: bold;
}

li {
  display: inline-flex;
  margin: 0 10px;
}

a {
  color: #1D3124;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.underline {
  text-decoration: underline white;
}

.subtitle {
  position: relative;
  display: flex;
  height: 200px;
}

.section-2 {
  color: #f6f4e8;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
 }

 .subtitle img {
  min-width: 100%;
 }

 .about-me, .my-work {
  display: flex;
 }

 .my-info {
  display: flex;
 }

.my-info a {
  color: #1D3124;
  font-size: 25px;
}
 
aside {
  flex: 1; 
  padding: 10px;
  text-align: right;
  font-size: 50px;
  font-weight: bolder;
  overflow-wrap: normal;
  font-family: 'Courier New', Courier, monospace;
}

.break-1, .break-2, .break-3 {
  width: 5px;
  background-color: #712e1e;
  margin-bottom: 20px;
  margin-top: 20px;
  }
.content {
  font-size: 20px;
  flex: 2;
  padding: 10px;
}

.content-2 {
  flex: 2;
  padding: 10px;
}

.link-list {
  position: relative;
  display: flex;
  text-align:right;
  justify-content: space-between;
  height: 100%;
}

.link-list li {
padding-top: 10%;
}

.image-container {
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  object-fit: cover;
  transition: opacity 0.3s;
  max-width: 100%;
}

.image-container img {
  border: 5px solid #712e1e;
  max-width: 100%;
  max-height: 50vh;
  display: block;
  object-fit: cover;
}

.image-container:hover {
  opacity:0.7;
}

.overlay-text {
  position: absolute;
  bottom: 5px;
  background-color: #712e1e;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
}

.grid-container {
  max-width: 970px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      "a b"
      "c d";
  gap: 10px;
}
.grid-item {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 4px solid #712e1e;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  object-fit: cover;
}

.grid-item img:hover {
  opacity:0.7;
}

.item-a {
  grid-area: a;
}
.item-b {
  grid-area: b;
}
.item-c {
  grid-area: c;
}
.item-d {
  grid-area: d;
}

@media screen and (max-width: 1000px) {
  main,
  nav {
      flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .grid-container, .content-2 {
      width: 50px;
      height: 50px;
  }
}